<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:localeConfig="@xml/locale_config"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true"
        tools:targetApi="36">

        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10" />
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <meta-data
            android:name="theming-meta"
            android:value="meta_998_sesl_app" />
        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/meta_998_sesl_app" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Starting">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
                <action android:name="com.oneui.fontviewer.WIDGETACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            </activity>

        <activity
            android:name=".activity.FontOpenTriggerActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:noHistory="true"
            android:launchMode="singleTask">
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="font/*" />
                <data android:mimeType="application/x-font-ttf" />
                <data android:mimeType="application/x-font-otf" />
                <data android:mimeType="application/font-woff" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.ttf" />
                <data android:pathPattern=".*\\.otf" />
                <data android:pathPattern=".*\\.ttc" />
                <data android:pathPattern=".*\\.TTF" />
                <data android:pathPattern=".*\\.OTF" />
                <data android:pathPattern=".*\\.TTC" />
            </intent-filter>
        </activity>

        <activity
            android:name=".fragment.home.HomeActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />

        <activity
            android:name=".fragment.fontviewer.FontViewerActivity"
            android:noHistory="true"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />

        <activity
            android:name=".fragment.settings.about.AboutActivity" />

        <activity
            android:name=".fragment.settings.about.LicensesActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />

        <activity
            android:name=".fragment.settings.SettingsActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize" />

        <service
            android:name=".utils.notification.OperationForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
            
        <receiver
            android:name=".utils.notification.NotificationActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.oneui.fontviewer.ACTION_CANCEL_OPERATION" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
